.cs-debug-wrapper {
  border: 1px solid lightgray;
  padding: 6px;
  &>.cs-title {
    position: absolute;
    margin-top: -15px;
    margin-left: 8px;
    background-color: white;
    font-size: 8pt;
    padding: 0 2px;
    color: gray;
  }
}